<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Forgot password</h1>
        <form class="container" method="post" action="/forgotPassword">
            <div class="mb-3">
                <label for="exampleInputEmail3" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail3" aria-describedby="emailHelp" name="emailforgot">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</body>
</html>